.root{
	-fx-spacing: 20;
	-fx-background-color: #121212;
}

.tagsText{
	-fx-font-size: 20;	
}


.tagField{
	-fx-control-inner-background: #373737;
	-fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.blueButton{
	 -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    /*-fx-padding: 12 30 12 30;*/
    -fx-text-fill: white;
    -fx-font-size: 12px;
}